@use "../../scss" as *;

.form__container {
  @include flex(unset, unset, column);
  width: 430px;

  h2 {
    margin: 10px 0;
  }
  .google__signin {
    margin: 1rem 0;
    &-btn {
      background: #fff;
      height: 4rem;
      width: 4rem;
      padding: 0.8rem;
      margin: 1rem;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        filter: brightness(0.8);
      }
      svg {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
  .text-mobile {
    margin: 1rem 0;
    a {
      color: $main-color;
      font-weight: bold;
      transition: 0.3s;
      &:hover {
        color: $texthover-color;
      }
    }
  }
}
