.nav__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  font-size: 14px;

  .nav__menu {
    display: flex;
    width: 50%;

    .nav__tab {
      margin-right: 20px;
    }
  }
  .nav__icon {
    display: flex;
    width: 50%;
    justify-content: flex-end;
  }
}
