@use "../../scss" as *;

.home__container {
  position: relative;
  width: 80%;
  padding: 30px;

  .navbar__container {
    @include flex(unset, space-between, unset);
    padding-bottom: 20px;
    font-size: 14px;

    .navbar__icon {
      @include flex(unset, flex-end, unset);
      width: 50%;
    }
  }

  .home__body {
    position: relative;
    margin-top: 20px;
  }
}
