@use "../../scss" as *;

.home__container {
  position: relative;
  width: 100%;
  padding: 0px 30px 30px 30px;

  .navbar__container {
    @include flex(unset, space-between, unset);
    padding: 0 0.5rem 2rem 0.5rem;
    font-size: 14px;

    .navbar__icon {
      @include flex(unset, flex-end, unset);
      width: 50%;
    }
  }

  .home__body {
    position: relative;
  }
}
