.mainview__container {
  // max-width: 900px;
  margin: 0 auto;
  display: flex;

  .mainview__sidebar {
    width: 20%;
    border-right: 1px solid black;
  }

  .mainview__content {
    width: 80%;
    padding: 30px;

    .carousel__container {
      position: relative;
      margin-top: 20px;
    }
  }
}
