@use "../../scss" as *;

.recently__movie {
  padding: 30px;
  &-header {
    h2 {
      text-transform: uppercase;
      margin-bottom: 30px;
      text-align: center;
    }
    .ant-typography {
      color: $main-color;
      font-weight: 700;
      &:hover {
        color: $texthover-color;
      }
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    @include desktop {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
    }
    @include tablet {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
    }
    @include mobile {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
    }
  }
}
.recently__empty {
  font-size: 2rem;
  text-align: center;
  margin: 4rem 0;
  &-animation {
    width: 40rem;
    margin: 2rem auto;
  }
}
