@use "../../scss" as *;

.video__player {
  &-container {
    width: 100%;
    margin: 0 3rem 0 5rem;
    @include desktop {
      width: 100%;
    }
    @include tablet {
      width: 90%;
    }
    @include mobile {
      width: 85%;
    }
  }
  &-video {
    height: 80%;
    margin-bottom: 1rem;
    @include desktop {
      height: 80%;
    }
    @include tablet {
      height: 50%;
    }
    @include mobile {
      height: 80%;
    }
  }
  &-info {
    h3 {
      font-size: 2rem;
      margin: 1rem 0;
    }
    &-body {
      @include flex(unset, unset, unset);
      margin-bottom: 1rem;
      color: $subtext-color;
      svg {
        color: $main-color;
      }

      &-rating,
      &-date {
        @include flex(center, flex-start, unset);
        width: 12%;
        @include desktop {
          width: 20%;
        }
        @include tablet {
          width: 30%;
        }
        @include mobile {
          width: 50%;
        }
        svg {
          width: 20%;
          height: 100%;
          fill: $main-color;
          @include desktop {
            width: 18%;
          }
          @include tablet {
            width: 15%;
          }
          @include mobile {
            width: 12%;
          }
        }
        span {
          width: 80%;
          margin-left: 0.5rem;
        }
      }
    }
    &-genres {
      margin: 1rem 0 2rem 0;
      color: $subtext-color;
      & > * ~ * {
        margin-left: 0.5rem;
      }

      &-item {
        padding: 0.5rem 1.5rem;
        border: 2px solid $text-color;
        border-radius: 20px;
        font-size: 0.8rem;
        font-weight: 600;
        background-color: $bg-color;
      }
    }
    &-overview {
      h4 {
        font-size: 1.3rem;
      }
      p {
        color: $subtext-color;
      }
    }
  }
}
