@use "../../scss" as *;

.navbar__content {
  @include flex(center, center, unset);
  color: $subtext-color;
  margin: 0 auto;
  @include mobile {
    margin-top: 1rem;
  }
  .navbar__item {
    cursor: pointer;
    position: relative;
    font-size: 1rem;
    width: 5rem;
    text-align: center;
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      height: 3px;
      width: 0;
      background-color: $main-color;
      transition: width 0.5s ease;
      transform: translateX(-50%);
    }

    &:hover {
      color: $text-color;
    }
    &-active {
      color: $text-color;
      font-weight: bold;
    }
    &-active::after {
      width: 100%;
    }
  }
}
