@use "../../scss" as *;

.nav__container {
  @include flex(center, space-between, unset);
  padding: 1rem 4rem 0 4rem;
  .nav__logo {
    cursor: pointer;
    img {
      width: 10rem;
      height: 5.5rem;
      object-fit: cover;
    }
  }

  .nav__user {
    margin: 1rem;
    span {
      font-size: 1.2rem;
      cursor: default;
    }
    svg {
      @include desktop {
        width: 4%;
        height: 5%;
      }
      @include tablet {
        width: 5%;
        height: 5%;
      }
      @include mobile {
        width: 10%;
        height: 5%;
      }
      width: 3%;
      height: 5%;
    }
  }
}

.nav__menu {
  @include mobile {
    height: 0;
  }
  &-icon {
    position: fixed;
    top: 1%;
    right: 0;
    transition: 0.5s ease-in-out;
    z-index: 96;
    background: $border-color;
    width: 50px;
    height: 50px;
    transform: rotate(0deg);
    cursor: pointer;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 15px #000;

    span {
      position: absolute;
      height: 7px;
      width: 40%;
      background: $main-color;
      opacity: 1;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
      }
      &:nth-child(odd) {
        left: 10%;
        border-radius: 9px 0 0 9px;
      }
      &:nth-child(1),
      &:nth-child(2) {
        top: 8px;
      }
      &:nth-child(3),
      &:nth-child(4) {
        top: 20px;
      }
      &:nth-child(5),
      &:nth-child(6) {
        top: 32px;
      }
    }

    &-active {
      position: fixed;
      top: 1%;
      right: 20%;
      transition: 0.5s ease-in-out;
      z-index: 96;
      background: $border-color;
      width: 50px;
      height: 50px;
      transform: rotate(0deg);
      cursor: pointer;
      border-radius: 10px 0 0 10px;
      box-shadow: 0 0 15px #000;
      @include desktop {
        right: 30%;
      }
      @include tablet {
        right: 30%;
      }
      @include mobile {
        right: 30%;
      }
      span {
        display: block;
        position: absolute;
        height: 7px;
        width: 40%;
        background: $main-color;
        opacity: 1;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;

        &:nth-child(even) {
          left: 50%;
          border-radius: 0 9px 9px 0;
        }
        &:nth-child(odd) {
          left: 10%;
          border-radius: 9px 0 0 9px;
        }
        &:nth-child(1),
        &:nth-child(2) {
          top: 8px;
        }
        &:nth-child(3),
        &:nth-child(4) {
          top: 20px;
        }
        &:nth-child(5),
        &:nth-child(6) {
          top: 32px;
        }

        &:nth-child(1),
        &:nth-child(6) {
          transform: rotate(45deg);
        }
        &:nth-child(2),
        &:nth-child(5) {
          transform: rotate(-45deg);
        }
        &:nth-child(1) {
          left: 9px;
          top: 13px;
        }
        &:nth-child(2) {
          left: calc(50% - 2px);
          top: 13px;
        }
        &:nth-child(3) {
          left: -50%;
          opacity: 0;
        }
        &:nth-child(4) {
          left: 100%;
          opacity: 0;
        }
        &:nth-child(5) {
          left: 9px;
          top: 27px;
        }
        &:nth-child(6) {
          left: calc(50% - 2px);
          top: 27px;
        }
      }
    }
  }
}
