@use "../../scss" as *;

.carousel__slider {
  margin-bottom: 3rem;
}

.carousel__slider-item {
  padding: 9rem 0;
  height: 80vh;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    border-radius: 20px 20px 0 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, $bg-color, rgba(0, 0, 0, 0));
  }

  &-content {
    @include flex(center, center, unset);
    position: relative;

    &-info {
      width: 55%;
      padding: 0 3rem;
      position: relative;

      & > * ~ * {
        margin-top: 2rem;
      }

      @include tablet {
        width: 100%;
      }

      .movie__title {
        font-size: 5rem;
        font-weight: 700;
        line-height: 1;

        @include tablet {
          font-size: 4rem;
        }
      }

      .movie__overview {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      .movie__release,
      .movie__overview {
        font-weight: 700;
      }

      .movie__rating {
        @include flex(center, unset, unset);
        background-color: #dbaf1c;
        font-size: 1.2rem;
        width: 6rem;
        padding: 0.5rem 1.3rem;
        border-radius: 50px;
        margin-top: 1.5rem;

        span {
          margin-right: 8px;
        }
      }
    }

    &-poster {
      flex: 1;
      @include flex(center, flex-start, unset);
      position: relative;

      img {
        width: 350px;
        border-radius: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }

      @include tablet {
        display: none;
      }
    }
  }
}
