.movie__banner {
  height: 100%;
  border-radius: 10px;

  .swiper-slide {
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.7979984230020133) 25%,
        rgba(0, 0, 0, 0.5010796554950105) 45%,
        rgba(0, 0, 0, 0.1957575266434699) 75%
      );
      z-index: 5;
    }
  }

  img {
    height: 100%;
    max-width: 100%;
    border-radius: 10px;
  }

  .banner__content {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    width: 40%;
    z-index: 10;

    h3 {
      font-size: 3.5rem;
      line-height: 1;
      color: #e5e5e5;
    }

    p {
      font-size: 0.9rem;
      font-weight: 500;
      color: #9ba4b4;
      line-height: 1.5rem;
    }
    .movie__release {
      margin: 1.5rem 0;
    }

    .movie__overview {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .movie__rating {
      color: white;
      background-color: #dbaf1c;
      font-size: 1.2rem;
      display: flex;
      width: 6rem;
      padding: 0.5rem 1.3rem;
      align-items: center;
      border-radius: 50px;
      margin-top: 1.5rem;

      span {
        margin-right: 8px;
      }
    }
  }

  .swiper__button {
    position: absolute;
    bottom: 120px;
    z-index: 99;
    cursor: pointer;
    color: white;
    width: 30px;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
    &-prev {
      left: 31rem;
    }
    &-next {
      right: 1.8rem;
    }
  }
}

.banner__slider {
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 50%;
  height: 20%;

  .swiper-wrapper {
    height: 80%;
    padding: 10px 0;
  }

  .swiper-slide {
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s;

    &-thumb-active {
      border: 3px solid #ad241b;
      // box-shadow: 0px 0px 8px 5px rgba(173, 36, 27, 0.7);
      transform: scale(1.1);
    }
  }

  img {
    border-radius: 8px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .swiper-slide {
    height: 100%;
    width: 80%;
  }
}

.swiper {
  border-radius: 10px;
}
