@mixin flex($align-item, $justify-content, $flex-direction) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

@mixin shrinkLabel {
  top: -30px;
  font-size: 12px;
  color: #e5e5e5;
}

@mixin scrollbars(
  $size,
  $border-radius,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: $border-radius;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: $border-radius;
  }
}
