$bg-color: #0f0f0f;
$main-color: #ad241b;
$text-color: #e5e5e5;
$subtext-color: #9ba4b4;
$card-color: #161616;
$border-color: #202020;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Metrophobic", sans-serif;
