.swiper {
  z-index: 1;
  .swiper-wrapper {
    padding: 20px 0;
    z-index: 1;
  }

  .swiper__button {
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    width: 30px;
    z-index: 10;

    &-disabled {
      opacity: 0;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
    &-prev {
      left: 5px;
    }
    &-next {
      right: 5px;
    }
  }

  .slider__backdrop {
    position: absolute;
    top: 5%;
    right: 0;
    width: 100%;
    height: 21.9rem;
    z-index: 10;
    pointer-events: none;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.6),
      rgba(179, 179, 193, 0) 7%,
      hsla(240, 4%, 44%, 0) 93%,
      rgba(0, 0, 0, 0.6)
    );
  }
}
